@page
@model ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "Hasło zostało zresetowane";
}

<div class="page-header mb-4">
    <h1>Hasło zostało zresetowane</h1>

    <p>
        Hasło do konta zostało zmienione. Możesz teraz zalogować się przy użyciu nowego hasła.
    </p>

    <a asp-page="./Login" class="btn btn-primary">
        Przejdź do logowania
    </a>
</div>